<h1>Welcome to Ferret Camp.</h1>
<p> These are our ferrets!</p>
<ul>
<% @ferrets.each do |ferret| %>
<li><a href="/ferrets/<%=ferret.id %>"><%= ferret.name %>  <%# ferret.hair %></li>
<% end %>
</ul>
<%# take out the hair, was just testing if worked%>
