<h1>Ferret Signup</h1>
<form method="post" action="/ferrets">
<p>
<div><label for="name">Name</label></div>
<input type="text" id="name" name="name" />
</p>

<p>
<div><label for="hair">Hair Type</label></div>
<input type="text" id="hair" name="hair" />
</p>

<p>
<div><label for="short_description">Short Description</label></div>
<textarea rows="5" cols="40" id= "short_description" name="short_description"></textarea>
</p>
<input type="submit" value="Signup Ferret">
</form>

